.expense-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center;
}
.my-card{
    /* border: 1px solid #ddd; */
    margin-top: 2rem;
    padding: 0 1rem;
}
.form-row-height{
    height: 50px;
}